<section id="book-a-program" class="book-a-program">

  <div class="container">

    <div class="section-book-title">
      <div class="book-title"><h2>Заказать программу</h2></div>
      <div class="mention-book"><p>Что бы заказать программу заполните, пожалуйста, форму ниже. Указывайте свои контакты
      правильно, что бы мы могли с вами связаться.</p></div>
    </div>
<div class="holder-book-card">
    <form action="" method="post" role="form" class="form-class">
        {% csrf_token %}
        {{ book }}
{#      <div class="row">#}
{#        <div class="col-lg-4 col-md-6 form-group">#}
{#          <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" data-rule="minlen:4" data-msg="Please enter at least 4 chars">#}
{#          <div class="validate"></div>#}
{#        </div>#}
{#        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">#}
{#          <input type="email" class="form-control" name="email" id="email" placeholder="Ваш Email" data-rule="email" data-msg="Please enter a valid email">#}
{#          <div class="validate"></div>#}
{#        </div>#}
{#        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">#}
{#          <input type="text" class="form-control" name="phone" id="phone" placeholder="Ваш телефон (+код страны): +XXXXXXXXXXXX" data-rule="minlen:4" data-msg="Please enter at least 4 chars">#}
{#          <div class="validate"></div>#}
{#        </div>#}
{##}
{#      </div>#}
{#      <div class="form-group mt-3">#}
{#        <textarea class="form-control" name="message" rows="5" placeholder="Напишите какой тариф вы выбрали (марафон похудения или индивидуальное ведение), а так же можете задать интересующие вас вопросы и оставить ваше имя из социальных сетей (instagram или facebook или телеграм)"></textarea>#}
{#        <div class="validate"></div>#}
{#      </div>#}
      <div class="btn-send-book-message"><button type="submit" class="btn-css">ОТПРАВИТЬ СООБЩЕНИЕ</button></div>
    </form>
  </div>
  </div>
</section>